AZURE_CUSTOM_VISION_PREDICTION_ENDPOINT=https://zaytoun-cvpredict-dev.cognitiveservices.azure.com
AZURE_CUSTOM_VISION_PREDICTION_KEY=replace-with-prediction-key
AZURE_CUSTOM_VISION_PROJECT_ID=6719fcbf-05e1-4aa6-8ef3-fb0f530e385a
AZURE_CUSTOM_VISION_PUBLISHED_NAME=ZaytounModel
AZURE_CUSTOM_VISION_MODEL_NAME=ZaytounModel
